:root{
  --light: #92CCCE;
  --head: #30343C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: lightgrey;
}

header {
  z-index: 9999;
  padding: 20px 35px;
  background-color: var(--head);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  top: 0;
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--head);
  background-color: #92CCCE;
  padding: 10px;
}

 header a {
  text-decoration: none;
  color: var(--light);
} 

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(270deg, var(--light) 0%, var(--light) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem; 
}

nav a:hover {
  background-color: var(--light);
  color: var(--head);
}

 

.border {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center; 
 
 
}

.border img {
  width: 100vw;
  height: 100vh;
}

.border h2 {
  background-color: var(--light);
  padding: 20px;
  width: 201px;
  color: #024e76;
  position: absolute;
  bottom: 49px;
  right: 20px;
}

.about {
  display: flex;
  text-align: center;
  line-height: 75px;
}

.about h2 {
  font-size: 55px;
  color: var(--head);
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  border-right: 3px solid;
  border-color: var(--head);
  
}

.about p {
  margin: auto;
  width: 90%;
  font-size: 20px;
  color: var(--head);
}

.work {
  display: flex;
  text-align: center;
  line-height: 75px;
}

.work h2 {
  font-size: 55px;
  color: var(--head);
  margin-bottom: 35px;
  padding: 0 161px 20px 100px;
  border-right: 3px solid;
  border-color: var(--head);
}

.responsive {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  
  
}

.responsive img {
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}








  

